p {
    padding: 5px;
    border-width: 3px;
    border-color: yellow;
    border-style: solid;
    border-radius: 10px;
}
p {
    border-width: 10px 5px 2px 20px;
    border-color: rgb(109, 15, 15);
    border-radius: 10px 20px 5px;    
}
p {
    border: 3px grey;
    border-radius: 10px;
}