.container-cascata {
    background-color: lawngreen;
}
.container-cascata {
    background-color: lightblue;
}
.container-cascata {
    background-color: lightcoral;
}

p {
    background-color: lightseagreen;
}