/*Campo das variaveis*/
:root {
    --cor-primaria: #3498db;
    --cor-secundaria: #2ecc71;
    --cor-fundo: #ecf0f1;
    --cor-texto: #333;
    --espacamento: 16px;
    --tamanho-fonte-texto: 24px;
    --fonte-principal: Arial, Helvetica, sans-serif;
}


button {
    background-color: var(--cor-primaria);
    color: white;
    border: none;
    padding: var(--espacamento);
    font-size: var(--tamanho-fonte-texto);
    font-family: var(--fonte-principal);
    cursor: pointer;
}
p {
    color: var(--cor-fundo);
    background-color: var(--cor-secundaria);
    margin: var(--espacamento);
    font-family: var(--cor-texto);
    font-size: var(--tamanho-fonte-texto);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}